/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# Arquivos de configuração de ambiente (se você decidir usar .env no futuro)
.env

# Arquivos de IDE (se aplicável)
.idea/
*.iml
.DS_Store